html, body {
  height: 100%;
  overflow: auto;
}

body {
  min-height: 100%;
}

/* centered */
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.hidden {
  display: none;
}