/* typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  font-family: $primary-font;
}

p,
li,
label,
blockquote,
button,
legend {
  font-weight: 400;
  font-family: $secondary-font;
  font-size: $font-size;
  text-decoration: none;
}

blockquote {
  color: $font-color;
}

ul {
  list-style-type: none;
  padding: 0;
}

h4 {
  color: #515353;
  font-size: 24px;
}

#main-heading {
  font-size: 46px;
}

.main-heading {
  font-size: 36px;
  color: $secondary-color;
}

.main-heading:after {
  display: block;
  content: "";
  width: 45px;
  border-bottom: solid 0.2em #739f3d;
  border-radius: 0.2em;
  margin: 0 auto;
}

.text-center {
  text-align: $text-center;
}

.sub-heading {
  color: $headings-color;
}

.info {
  text-align: center;
  color: $white;
}

legend {
  color: #ee693f;
}

@media (min-width: 320px) and (max-width: 480px) {
  //CSS
  #main-heading {
    font-size: 16px;
  }

  .main-heading {
    font-size: 16px;
    color: $secondary-color;
  }

  .version {
    display: none;
  }
}

// tablet
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  //CSS
  // more padding and center content
  // reduce font size
  #main-heading {
    font-size: 1.5rem;
  }

  .main-heading {
    font-size: 1rem;
    color: $secondary-color;
  }
}
