/**
imports
 */
/**
* @description responsive design manager
 */
/* color palette */
/* white space */
/* borders */
/* typography */
/* buttons */
/* UI controls */
/* centered */
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.hidden {
  display: none;
}

html, body, section aside, main {
  padding: 0;
  margin: 0;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
  font-family: "Adamina", Arial, Helvetica, sans-serif;
}

p, li, label, blockquote, button, legend {
  font-weight: 400;
  font-family: "Dosis", Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-decoration: none;
}

blockquote {
  color: #515353;
}

ul {
  list-style-type: none;
}

h4 {
  color: #515353;
  font-size: 24px;
}

#main-heading {
  font-size: 46px;
}

.main-heading {
  font-size: 36px;
  color: #ee693f;
}

.main-heading:after {
  display: block;
  content: "";
  width: 35px;
  border-bottom: solid 0.2em #739f3d;
  border-radius: 0.2em;
}

.text-center {
  text-align: center;
}

.sub-heading {
  color: #0d0d0d;
}

.styled {
  height: 6px;
  background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0;
  border: 0;
}

.info {
  text-align: center;
  color: #fff;
}

legend {
  color: #ee693f;
}

@media (min-width: 320px) and (max-width: 480px) {
  #main-heading {
    font-size: 16px;
  }

  .main-heading {
    font-size: 16px;
    color: #ee693f;
  }

  .version {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  #main-heading {
    font-size: 1.5rem;
  }

  .main-heading {
    font-size: 1rem;
    color: #ee693f;
  }
}
/* button */
.button {
  width: 150px;
  padding: 0.5em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 0.2em;
  transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.button:focus {
  outline: none;
}

.active {
  background: #739f3d;
  border: solid 0.1em #739f3d;
  color: #C9FFBF;
}

.active:hover {
  background: #54831c;
}

.ghost {
  border: solid 0.1em #f0f1dc;
  background: #f0f1dc;
  color: #ee693f;
}

.ghost:hover {
  background: #ee693f;
  color: #f0f1dc;
}

.button:hover {
  cursor: pointer;
}

.customization {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 2.5em;
  background-image: linear-gradient(to left, #30431a, #333);
  color: white;
  visibility: hidden;
  width: 80%;
}

@media (min-width: 320px) and (max-width: 480px) {
  .customization {
    padding: 0.5em;
  }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .customization {
    padding: 1em;
  }
}
/* radio input */
.animated-form {
  background-color: darkslategrey;
  border-radius: 0.2em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #ee693f;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  width: 600px;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
}
.animated-form .form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
}
.animated-form .form-group__input {
  visibility: hidden;
  transition: border 450ms;
  transition-timing-function: ease-in-out;
}
.animated-form .form-group__leaf {
  width: 60px;
  height: 80px;
  transition: transform 450ms, opacity 450ms;
  transition-timing-function: ease-in-out;
}
.animated-form .form-group__leaf:hover {
  transform: scale(1.4);
  cursor: pointer;
}
.animated-form .form-group__leaf:checked {
  opacity: 0.4;
  border: solid 0.5em red;
}
#buddha {
  height: auto;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.img-container {
  max-width: 250px;
}

@media (min-width: 320px) and (max-width: 480px) {
  #buddha {
    display: none;
  }
}
#modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 1.5em;
  display: none;
  background: #0d0d0d;
  background: rgba(13, 13, 13, 0.07);
}

#modal-content {
  border-radius: 0.3em;
  width: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#modal-body, #modal-head {
  padding: 1em;
}

#modal-head {
  background: #e78e52;
  text-align: center;
}

#modal-body {
  background: #fcfdfe;
}

#content {
  background-image: url(../../public/img/leaves.png);
  flex: 2;
}

@media (min-width: 320px) and (max-width: 480px) {
  #content {
    flex: 2;
  }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  #content {
    padding: 1em;
  }
}
#sidebar {
  background: #C9FFBF;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #e78e52, #C9FFBF);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #e78e52, #C9FFBF);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  flex: 1;
  padding: 2.5em;
}

@media (min-width: 320px) and (max-width: 480px) {
  #sidebar {
    flex: 1;
    padding: 0.5em;
  }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  #sidebar {
    padding: 1em;
  }
}
/* wrapper */
#wrapper {
  display: flex;
}

@media (min-width: 320px) and (max-width: 480px) {
  #wrapper {
    display: flex;
    flex-direction: column;
  }
}
.quote {
  padding: 0.5em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-left: solid 0.3em #739f3d;
  border-radius: 0.2em;
  background: #fcfdfe;
  margin: 0.5em;
  transition: visibility 1000s ease-in 0.5s;
}

/*# sourceMappingURL=styles.css.map */
