/* button */
.button {
  width: $button-width;
  padding: 0.5em;
  margin: 0.2rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 0.4rem;
}

.button:focus {
  outline: $outline-none;
}

.active {
  border: solid 0.2rem #000000;
  background: $primary-color;
  color: #c9ffbf;
}

.active:hover {
  background: #54831c;
}

.light {
  border: solid 0.2rem $secondary-color;
  background: #f0f1dc;
  color: $secondary-color;
}

.light:hover {
  background: $secondary-color;
  color: #f0f1dc;
}

.button:hover {
  cursor: pointer;
}

.save {
  margin-top: 1em;
}

.disabled {
  opacity: 0.2;
  pointer-events: none;
}
