/* button */
.button {
  width: $button-width;
  padding: 0.6em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.button:focus {
  outline: $outline-none;
}

.active {
  background: $primary-color;
  border: solid 0.1em #739f3d;
  color: #c9ffbf;
}

.active:hover {
  background: #54831c;
}

.light {
  border: solid 0.1em #f0f1dc;
  background: #f0f1dc;
  color: $secondary-color;
}

.light:hover {
  background: $secondary-color;
  color: #f0f1dc;
}

.button:hover {
  cursor: pointer;
}

.save {
  margin-top: 1em;
}
