/* wrapper */
#wrapper {
  display: flex;
  height: 100vh;
}

// mobile devices
@media (min-width: 320px) and (max-width: 480px) {

  //CSS
  #wrapper {
    display: flex;
    flex-direction: column;
  }

}

// tablets
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  //CSS
  // more padding and center content

}