$background-color: #ff13fb;
$primary-color: #739f3d;
$secondary-color: #ee693f;
$accent-color: #739f3d;
$padding: 2.5em;
$border-radius: 0.5em;
$round: 50%;
$margin: 0.5em;
$outline-none: none;
$font-size: 18px;
$primary-font: "Adamina";
$secondary-font: "Dosis";
$font-color: #515353;
$headings-color: #0d0d0d;
$no-border: 0;
$text-center: center;
$button-width: 150px;
$default-cursor: auto;
$secondary-cursor: pointer;